.EnableNotificationsBanner {
  justify-content: center;

  @media screen and (max-width: 540px) {
    padding: 0 16px;
  }

  .InfoBanner {
    position: relative;
    padding: 12px 36px 12px 12px;

    & > svg {
      @media screen and (max-width: 540px) {
        display: none;
      }
    }

    p {
      @media screen and (max-width: 500px) {
        flex-direction: column !important;
      }

      div {
        @media screen and (max-width: 500px) {
          margin-top: 12px;
          padding-left: 18px;
        }
      }
    }
  }
  .CloseButton {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent !important;
    border: none !important;
    width: 38px;
    height: 32px;
    padding: 0 !important;
    margin-left: 0;

    svg {
      width: 18px;
      height: 18px;
    }

    path {
      fill: #2563eb;
    }
  }

  svg {
    width: 28px;
    height: 28px;
  }

  p {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  button {
    padding: 6px 12px;
    margin-left: 16px;
    height: 32px !important
  }
}