.Header {
  @media screen and (max-width: 580px) {
    margin-bottom: 16px;
  }

  button {
    padding: 12px;
    height: 48px !important;
  }

  &__logo {
    svg {
      max-width: 200px;

      @media screen and (max-width: 420px) {
        width: 150px;
      }
    }

    &--desktop {
      @media screen and (max-width: 580px) {
        display: none;
      }
    }

    &--mobile {
      @media screen and (min-width: 580px) {
        display: none;
      }

      svg {
        height: 40px;
        max-width: 120px;
        margin-left: -50px;

        @media screen and (max-width: 540px) {
          margin-left: -45px;
        }
      }
    }
  }

  .UnionButton {
    @media all and (max-width: 600px) {
      font-size: 0;
      padding: 12px 10px;

      svg {
        margin: 0 !important;
      }
    }
  }
  .ProfileButton {
    @media all and (max-width: 600px) {
      display: block !important;
      font-size: 0;

      svg {
        margin: 0 !important;
      }
    }
  }

  .ConnectButton button {
    outline: none !important;
    border: 1px solid transparent;
  }
  .ConnectButton.disconnected button {
    display: flex;
    align-items: center;

    &::before {
      content: ' ';
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-right: 4px;
      margin-bottom: 2px;
      background: url("/wallet-icon.png") no-repeat center / contain;
    }
  }
}