.Header {
  button {
    padding: 12px;
    height: 48px !important;
  }

  @media all and (max-width: 600px) {
    padding: 2rem 1.25rem 0 !important;
  }

  &__logo {
    svg {
      max-width: 200px;

      @media screen and (max-width: 420px) {
        width: 150px;
      }
    }
  }

  .UnionButton {
    @media all and (max-width: 900px) {
      display: none;
    }
  }
  .ProfileButton {
    @media all and (max-width: 600px) {
      display: block !important;
      font-size: 0;

      svg {
        margin: 0 !important;
      }
    }
  }

  .ConnectButton button {
    outline: none !important;
    border: 1px solid transparent;
  }
  .ConnectButton.disconnected button {
    display: flex;
    align-items: center;

    &::before {
      content: ' ';
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-right: 4px;
      margin-bottom: 2px;
      background: url("/wallet-icon.png") no-repeat center / contain;
    }
  }
}