@import "@unioncredit/ui/src/variables";

.MintMemberNftMultichain {
  padding: 0;
  min-width: 0;

  // main container
  .box-main-section {
    padding: 12px;
    align-items: flex-start;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    margin-bottom: 16px;

    & > div:first-child {
      padding-top: 6px;
    }
    .box-mr-auto {
      // currency select
      button {
        border: 0;
        padding: 0 12px 0 0;
        outline: none !important
      }
      // Balance
      .box-text-sm {
        font-size: 12px;
        text-align: left;
      }
    }
  }
  .box-balance-selector {
    & > div:not(:last-of-type) {
      margin-bottom: 4px;
    }
    .box-token-group-option > button {
      outline: none !important;
    }
    .box-token-group-collapse {
      & > div {
        padding-left: 24px;
      }
      button {
        border-radius: 0;
        padding: 12px 16px;
        border: 0;

        & > div > img:first-of-type {
          width: 30px;
          height: 30px;
        }

        &::before, &::after {
          left: 0;
        }
      }
    }
  }
  .box-fee-card {
    display: none;
  }
  button {
    background: white;
    border: 1px solid $grey300;
  }
  .box-btn-primary, .box-buy-btn {
    height: 64px;
    border-radius: 12px;
    font-size: 18px;
    background: $blue600;
    color: white;
  }
  .box-btn-primary + .box-dialog {
    visibility: hidden;
    pointer-events: none;
  }
}