.MobileNav {
  @media all and (max-width: 540px) {
    padding: 0 1.25rem;
  }
  @media all and (max-width: 420px) {
    justify-content: space-between !important;
  }

  .RepayButton {
    @media all and (max-width: 600px) {
      margin-right: 0;
    }
  }
  .UnionButton {
    @media all and (max-width: 480px) {
      display: none;
    }
  }
  .ProfileButton {
    @media all and (max-width: 600px) {
      display: none;
    }
  }
}