.BidBucketModal {
  .InfoBanner {
    padding: 12px;

    .text {
      font-size: 14px;
      text-align: left;
      line-height: 22px;
    }
  }
  .ArrowRightIcon {
    width: 32px;
    height: 32px;
    margin: 0 auto 8px;
    transform: rotate(90deg);
  }
}