@import "@unioncredit/ui/src/variables";

.MintNftModal {
  .button {
    height: 64px !important;
  }

  .InfoBanner {
    background: $blue50;
    padding: 12px;

    .text {
      color: $grey900 !important;
      font-weight: 400;
      font-size: 14px;
      text-align: left;
      line-height: 22px;

      span {
        font-weight: 500;
      }
    }
  }

  .MembershipPerks {
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
    background: #ECEEF4;
  }
}