@import "@unioncredit/ui/src/variables";

.PostMintNftModal {
  .InfoBanner {
    position: relative;
    background: linear-gradient(to left, #FBC224, #E879F9, #4338CA, #60A5FA);

    &::after {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 3px;
      right: 0;
      bottom: 3px;
      background: $blue50;
    }

    padding: 12px;

    .text {
      z-index: 1;
      color: $grey900 !important;
      font-weight: 400;
      font-size: 14px;
      text-align: left;
      line-height: 22px;

      span {
        font-weight: 600;
      }
    }
  }

  .MembershipPerks {
    flex-direction: column;
    align-items: center;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 16px;

    img {
      margin-bottom: 24px;
    }

    h3 {
      text-align: center;
    }

    &__content {
      min-width: 300px;
    }
  }
}