@import "@unioncredit/ui/src/variables";

.RandomWinnerRow {
  display: flex;
  border-radius: 16px;
  padding: 12px 20px 12px 12px;
  align-items: center;
  margin-bottom: 8px;
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to left, #FBC224, #E879F9, #4338CA, #60A5FA) border-box;
  border: 3.5px solid transparent;

  .avatar {
    color: white;
    width: 48px !important;
    height: 48px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-right: 6px;
  }
  &__content {
    padding-left: 6px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      color: $grey800;
      font-weight: 500;
      font-size: 20px;
    }
    p {
      color: $grey500;
      font-weight: 500;
      margin-top: 4px;
    }
  }

  .text {
    align-self: flex-end;
    margin: auto 0 auto auto;
    font-size: 20px;
  }
}