@import "@unioncredit/ui/src/variables";

.RewardsModal {
  text-align: left;

  &__actions {
    margin: 8px -12px 0;
    width: calc(100% + 24px);
    flex-wrap: wrap;
  }
  &__action {
    width: calc(50% - 12px);
    flex: 0 calc(50% - 12px);
    padding: 12px;
    border-radius: 16px;
    border: 1px solid $grey200;
    margin: 6px;
    cursor: pointer;

    &.disabled {
      opacity: 50%;
      pointer-events: none;
    }

    &:hover {
      background: $blue50;
    }
    &:active {
      background: $blue100;
    }

    button {
      pointer-events: none;

      @media screen and (max-width: 420px) {
        width: 32px !important;
        height: 32px !important;
        padding: 4px !important;
        border-radius: 6px;
      }
    }
  }
}