@import "@unioncredit/ui/src/variables";

.StatRow {
  display: flex;
  border-radius: 16px;
  border: 0.5px solid rgba(0, 0, 0, 0.08);
  padding: 12px;
  align-items: center;
  margin-bottom: 8px;

  &__cube {
    color: white;
    width: 48px;
    height: 48px;
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-right: 6px;
  }
  &__content {
    padding-left: 6px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      color: $grey800;
      font-weight: 500;
      font-size: 20px;

      @media screen and (max-width: 450px) {
        font-size: 17px;
      }
    }
    p {
      color: $grey500;
      font-weight: 400;
      margin-top: 6px;

      @media screen and (max-width: 450px) {
        font-size: 14px;
        line-height: 1.1;
      }
    }
  }
  &__value {
    white-space: nowrap;

    @media screen and (max-width: 450px) {
      font-size: 16px !important;
    }
  }

  .text {
    align-self: flex-end;
    margin: auto 0 auto auto;
    font-size: 20px;
  }
}