@import "@unioncredit/ui/src/variables";

.UnionRepayModal {
  & > .Card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-wrapper {
    .union {
      width: 22px !important;
      height: 22px !important;
      margin-top: 3px;
    }
    .input-wrapper__inner + .box {
      margin-top: 16px !important;
      justify-content: center;
    }
    &:not(.input-wrapper--error) .input-caption {
      color: $grey500 !important;
    }
  }

  .DownArrow {
    min-width: 24px;
    min-height: 24px;
    transform: rotate(90deg);
    margin: 3px 0 9px;
  }

  .StatRow {
    width: 100%;
  }

  .RedeemButton {
    min-height: 64px;
  }
}