@import "@unioncredit/ui/src/variables";

.ClubActivity {
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.90);

  a {
    color: #27272A;
    font-weight: 500;
    font-size: 18px;
  }

  &__header {
    padding-bottom: 16px;
    border-bottom: 1px solid $grey100;
    margin-bottom: 20px;
  }

  &__rows {
    .Card__body {
      padding: 0;
    }
  }
}

.ActivityRow {
  display: flex;
  align-items: center;
  margin-top: 4px;

  svg {
    margin-right: 6px;
    width: 28px;
    height: 28px;

    path {
      fill: #2563EB;
    }
  }
}