@import "@unioncredit/ui/src/variables";

.ClubStats {
  &__item {
    flex-direction: column !important;
  }
  &__pill {
    white-space: nowrap;
    height: 28px;
    padding: 2px 10px;
    background: #fafafa;
    border: 0.5px solid #d4d4d8;
    display: inline-flex !important;
    font-size: 12px;
    line-height: 22px;
    margin-top: 8px;
  }

  .DepositButton {
    border: 1px solid $blue800;
  }

  &__pill,
  .AvatarBadgeRow {
    border-radius: 6px;
    border-color: $grey200;
  }

  .AvatarBadgeRow:not(.Withdrawable) {
    &:hover {
      background: $grey100;
    }
    &:active {
      background: $grey200;
    }
  }

  .Card__footer {
    background: white;
    border-top: 1px solid $grey100;
    display: flex;
    justify-content: space-between;
    align-items: center !important;

    @media screen and (max-width: 500px) {
      flex-direction: column !important;

      .NumericalBlock {
        padding-right: 0 !important;
      }
      .NumericalBlock__value {
        justify-content: center;
        margin-bottom: 1em !important;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .ClubStats {
    &__top {
      align-items: flex-start !important;
      flex-direction: column !important;

      .button {
        flex: 1 !important;
      }
      .button-row {
        width: 100%;
        margin-top: 16px;
      }
    }

    &__item {
      flex-direction: row !important;
      justify-content: space-between;
      align-items: center !important;

      &:not(:last-of-type) {
        margin-bottom: 8px;
      }
      .NumericalBlock__value {
        margin: 0 !important;
      }
    }

    &__bottom {
      flex-direction: column !important;

      .NumericalBlock__value {
        font-size: 18px !important;
        line-height: 24px !important;
      }
    }
  }
}

