@import "@unioncredit/ui/src/variables";

.ActionsPanel {
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: rgba(213, 215, 225, 0.14);

  &__header {
    border-bottom: 1px solid $grey100;
    padding-bottom: 24px;
  }

  .MintButton {
    opacity: 1 !important;
    width: 100%;
    height: auto;
    border: 1.5px solid rgba(0, 0, 0, 0.075);
    background: linear-gradient(#FFF1F5, #efd8df) !important;
    padding: 8px 24px;
    box-shadow: inset 1.85px 1.42px 2.85px #FFF1F5;

    .IconCube {
      border: 1.5px solid rgba(0, 0, 0, 0.05);

      svg {
        transition: 200ms ease;
      }
    }

    &.token {
      max-width: 200px;
      height: 48px !important;
      margin: 1rem auto 0;
    }

    &:disabled {
      pointer-events: none;
    }

    &:hover {
      background: linear-gradient(#FFF1F5, #ecced7) !important;

      .IconCube svg {
        transform: scale(1.25);
      }
    }

    p {
      font-size: 15px;

      @media screen and (max-width: 450px) {
        font-size: 14px;
      }
    }
  }
}