.ActionsPanel {
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: rgba(213, 215, 225, 0.14);

  .MintButton {
    opacity: 1 !important;
    width: 100%;
    height: auto;
    border: 1.5px solid rgba(0, 0, 0, 0.05);
    background: #FFF1F5 !important;

    &:disabled {
      pointer-events: none;
    }

    &:hover {
      background: #fceaee !important;
    }

    p {
      font-size: 16px;

      @media screen and (max-width: 450px) {
        font-size: 14px;
      }
    }
  }
}