@import "@unioncredit/ui/src/variables";

.ActionsPanel {
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: rgba(213, 215, 225, 0.14);

  &__header {
    border-bottom: 1px solid $grey100;
    padding-bottom: 24px;
  }

  .MintButton {
    opacity: 1 !important;
    width: 100%;
    height: auto;
    border: 1.5px solid rgba(0, 0, 0, 0.05);
    background: #FFF1F5 !important;
    padding: 8px 24px;

    &:disabled {
      pointer-events: none;
    }

    &:hover {
      background: #fceaee !important;
    }

    p {
      font-size: 15px;

      @media screen and (max-width: 450px) {
        font-size: 14px;
      }
    }
  }
}