.ClubDebtRow {
  button {
    justify-content: flex-start;
    min-width: 166px;
    height: 100%;
    padding: 12px;
    background: #EEF2FF !important;

    @media screen and (max-width: 656px) {
      justify-content: center;
    }

    path {
      fill: #4F79FF !important;
    }

    .IconCube {
      padding: 0.25em;
    }
  }
}

.ClubDebtStat {
  background: white;
  border-radius: 12px;
  border: 0.5px solid rgba(42, 39, 54, 0.15);
  padding: 8px 16px;

  @media screen and (max-width: 656px) {
    padding: 22px 16px;
  }
}