@import "@unioncredit/ui/src/variables";

.MembershipPerks {
  display: flex;

  @media all and (max-width: 1024px) {
    padding: 28px 12px;
  }
  @media all and (max-width: 480px) {
    flex-direction: column;
  }

  &__image {
    @media all and (max-width: 480px) {
      display: flex;
      justify-content: center;
    }

    svg {
      width: 150px;
      height: 150px;

      @media all and (min-width: 1024px) and (max-width: 1100px) {
        width: 120px;
        height: 130px;
      }
      @media all and (max-width: 480px) {
        width: 120px;
        height: 120px;
      }
    }
  }
  &__content {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 6px 0 18px;

    h3 {
      width: 100%;
      border-bottom: 1px solid $grey700;
      padding-bottom: 8px;
      margin-bottom: 8px;
      text-align: center;

      @media all and (max-width: 1024px) {
        text-align: left;
      }
    }
    .text {
      margin-bottom: 6px;
    }
    ul {

      li {
        list-style: disc;
        margin-left: 18px;
        margin-bottom: 4px;
        font-size: 15px;
        text-align: left;
      }
    }
  }
}