.MintButton {
  opacity: 1 !important;
  width: 100%;
  border: 1px solid #000 !important;
  box-shadow: 0 2px 3px 0 #000000;
  background: #FFF1F5 !important;
  padding: 8px 24px;
  height: 72px;

  & > span {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .IconCube {
    margin-right: 12px;
    padding: 0.25rem;
  }

  &.token {
    height: 48px !important;
    margin: 1rem auto 0;
  }

  &:disabled {
    pointer-events: none;
  }

  &:hover {
    background: #fceaee !important;
  }

  p {
    font-size: 16px;

    @media screen and (max-width: 450px) {
      font-size: 14px;
    }
  }
}