@import "@unioncredit/ui/src/variables";

.ContactList {
  &__table {
    @media screen and (max-width: $breakpoint-tablet) {
      overflow: scroll;
    }
  }

  .table-head {
    color: $grey700;

    @media screen and (max-width: $breakpoint-tablet) {
      height: 35px;
    }

    svg {
      display: inline-block;
      margin-left: auto;
    }
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__toggle {
    pointer-events: none;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .ContactList {
    &__header {
      align-items: center;
      padding: 16px !important;

      .SegmentedControl {
        margin-bottom: 8px;
      }
    }

    &__toggle {
      margin: 0 !important;
    }

    .table-head {
      padding: 3px 4px;
    }

    .table-head:first-of-type,
    .table-cell:first-of-type {
      padding-left: 16px;
    }

    .table-head:last-of-type,
    .table-cell:last-of-type {
      padding-right: 16px;
    }
  }
}

@media screen and (max-width: 656px) {
  .ContactList {
    &__header {
      flex-direction: column !important;

      .SegmentedControl {
        width: 100%;
      }

      .ContactsFilterControls {
        width: 100%;
        margin-top: 6px;
      }

      input {
        height: 40px;
        font-size: 14px;
      }

      .button {
        &:not(.ResetAccountStatusButton) {
          height: 40px;
          padding-left: 8px !important;
          padding-right: 8px !important;
          font-size: 14px !important;
        }

        &--noLabel {
          width: 40px;
          padding: 0 !important;

          svg {
            width: 20px;
          }
        }
      }
    }
  }
}