@import "@unioncredit/ui/src/variables";

.DimmableTableCell {
  svg {
    width: 20px;
    height: 20px;
    margin-left: 4px;
  }

  .box {
    justify-content: flex-end;
    align-items: center !important;
  }

  &--dimmed {
    color: $grey400;
  }
}