@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/MintMemberNftMultichain";
@import "components/TokenSelectInput";
@import "components/DecentTokenSelect";

// @unioncredit/ui styles
@import "@unioncredit/ui/src/Box/box";
@import "@unioncredit/ui/src/Card/Card";
@import "@unioncredit/ui/src/Control/Control";
@import "@unioncredit/ui/src/DistributionBar/DistributionBar";
@import "@unioncredit/ui/src/Dot/Dot";
@import "@unioncredit/ui/src/Grid/grid";
@import "@unioncredit/ui/src/Input/Input";
@import "@unioncredit/ui/src/LoadingSpinner/loading-spinner";
@import "@unioncredit/ui/src/Modal/Modal";
@import "@unioncredit/ui/src/Modal/modal-overlay";
@import "@unioncredit/ui/src/MultiStepButton/MultiStepButton";
@import "@unioncredit/ui/src/Notification/Notification";
@import "@unioncredit/ui/src/Notification/notification-stack";
@import "@unioncredit/ui/src/NumericalBlock/NumericalBlock";
@import "@unioncredit/ui/src/NumericalRow/NumericalRows";
@import "@unioncredit/ui/src/OptionSelect/OptionSelect";
@import "@unioncredit/ui/src/OptionCard/OptionCard";
@import "@unioncredit/ui/src/Popover/Popover";
@import "@unioncredit/ui/src/PopoverMenu/PopoverMenu";
@import "@unioncredit/ui/src/Select/select";
@import "@unioncredit/ui/src/SegmentedControl/SegmentedControl";
@import "@unioncredit/ui/src/Skeleton/skeleton";
@import "@unioncredit/ui/src/Text/Text";
@import "@unioncredit/ui/src/Toggle/Toggle";
@import "@unioncredit/ui/src/Tooltip/Tooltip";

@import "union-ui/Button";
@import "union-ui/BuyInvitesModal";
@import "union-ui/InviteesTable";
@import "union-ui/RepayModal";
@import "union-ui/RewardsModal";
@import "union-ui/UnionRepayModal";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer base {
  /* normal */
  @font-face {
    font-family: "Berkeley Mono";
    src: url("/fonts/BerkeleyMono-Regular.otf") format("otf");
    font-style: normal;
    font-display: swap;
    font-weight: 400;
  }
  /* medium */
  @font-face {
    font-family: "Berkeley Mono";
    src: url("/fonts/BerkeleyMono-Medium.otf") format("otf");
    font-style: normal;
    font-display: swap;
    font-weight: 500;
  }
  :root {
    font-family: "Berkeley Mono", monospace;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: var(--foreground);
    background-color: var(--background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background: #FAFAFA;
    --foreground: #27272a;
    --highlight: #2563EB;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: #2A2736;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240, 6%, 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: "Inter", monospace;
  line-height: 1.5;
  font-weight: 400;
}

svg.fill path {
  fill: currentColor;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.UniswapSwapModal div[hover] {
  display: none !important;
}

.modal .backButton {
  margin-right: 8px;
}

.BuySellModal {
  overflow: visible !important;

  .Card__body {
    overflow: visible !important;
  }
}

.notification-stack {
  z-index: 999999 !important;
}

.DistributionBar {
  height: 40px;
  padding: 0 4px;
}